<!DOCTYPE html>
<html ng-app="infoScreenApp">
<head>
    <title>INFFOO</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='css/infoscreen.css' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://api.trello.com/1/client.js?key=ca541714b2c13a50aac41b46f324df04"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.8.2/angular-moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="js/infoscreen.js"></script>
</head>

<body ng-controller="InfoScreenCtrl">
    <current-time format="EEE d.M. HH:mm"></current-time>

    <transitionpages transition-interval="10000">
        <transitionpage>
            <h1>Currently doing</h1>

            <trellocards cards="doingCards"></trellocards>
        </transitionpage>

        <transitionpage>
            <h1>MOOC</h1>

            <trellocards cards="moocCards"></trellocards>
        </transitionpage>

        <transitionpage>
            <h1>GitHub activity</h1>

            <div class="cards">
                <div class="card" ng-repeat="event in gitHubEvents | limitTo:10">
                    <span ng-if="event.type == 'PushEvent'">
                        {{ event.payload.commits[0].message }}
                        <span class="badge" ng-if="event.payload.commits.length > 1">+{{event.payload.commits.length - 1}} more</span>
                    </span>
                    <span ng-if="event.type == 'IssuesEvent'">
                        {{ event.payload.action | capitalize }} issue "{{ event.payload.issue.title }}"
                    </span>
                    <span ng-if="event.type == 'IssueCommentEvent'">
                        {{ event.payload.action | capitalize }} comment on "{{ event.payload.issue.title }}"
                    </span>
                    <span class="badge">[{{ extractRepoName(event.repo.name) }}]</span>
                    <img class="avatar" ng-src="{{ event.actor.avatar_url }}">
                    <span class="badge" am-time-ago="event.created_at"></span>
                </div>
            </div>
        </transitionpage>

        <transitionpage>
            <h1>Unicafe Exactum</h1>

            <div class="cards">
                <div class="card" ng-repeat="dish in lunches.exactum">
                    {{ dish }}
                </div>
            </div>
        </transitionpage>

        <transitionpage>
            <h1>Unicafe Chemicum</h1>

            <div class="cards">
                <div class="card" ng-repeat="dish in lunches.chemicum">
                    {{ dish }}
                </div>
            </div>
        </transitionpage>
    </transitionpages>
</body>

</html>