* {
	font-family: Lato;
}

.card {
	padding: 15px 20px;
	font-size: 50px;
	border-radius: 5px;
}

.labels {
	display: inline-block;
	margin-right: 10px;
}

.card .avatar {
	vertical-align: middle;
	margin: 0 5px;
	border-radius: 5px;
}

.card:nth-child(even) {
	background-color: #EEE;
}

.card .badge {
	opacity: 0.6;
	display: inline-block;
	margin: 0 10px;
}